<form action="/login" method="post">
    <div class="form-login">
        <center><h1>Login</h1></center> 
    </div>
    <div class="form-action">
        <label>Username:</label>
        <input type="text"
                name="username" 
                id="username" 
                required />
        <label>Password:</label>
        <input type="password"
                 name="userpass" 
                 id="userpass"
                 required />
    </div>
    <input type="submit" value="Login"/>
</form>